
.App-header {
    background-color: #aac0ce;
    min-height: 100vh;
    
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .sec{
    display: flex;
    position:fixed;
    flex-direction: row;
    justify-content: space-around;
    background-color: #245A7A;
    width: 95.8%;
    height: 100px;
    font-size:16pt;
    top:0;
    left:40px;
    right:30px;
  }
  .sec_back{
    height: 100px;
    transition: 1s opacity, 1s visibility;
  }
  @media screen and (min-width:1300px){
  .more_table{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;
    margin-left:30px;
    margin-right:30px;

    }

    thead{
      position:fixed;
    }
  
    

  }
  
  @media screen and(max-width:100px) {
    .more_table{
      display: flex;
      flex-direction: column;
      margin:auto;
    }

    

    }
  

  tr,td{
    border:2px solid #26517C;
    font-size:12pt;
    text-align: center;
    th{
      background-color: #245A7A;
    }
   
    .th1{
      width: 30px;
    }
    .th2{
      width: 90px;
    }
    .th3{
      width: 78px;
    }
    .th4{
      width: 602px
    }
    .th5{
      width:100px
    }
    .th6{
      width:114px
    }
    .th7{
      width: 520px
    }

  }
  .velo{
    height: 25px;
  }

  table{
    border-collapse: collapse;
    background-color:#3D9AD1;
    width: 100%;
  }
 
  @media screen and (min-width:1300px){
    .fortablr{
      overflow: scroll;
      max-height: 750px;
      overflow-x: hidden;
    }}

    @media screen and (max-width:1280px){
      .fortablr{
        overflow: scroll;
        max-height: 300px;
        overflow-x: hidden;
      }}
 
  .typ1{
    background-color: #028E9B;
    
  }
  .typ2{
    background-color: #FF7800;
    
  }
  .typeel{
    background-color: #00BB3F;
  }
  .typ3{
    background-color: #FF2800;
    
  }
  .but{
    width: 100px;
    height: 800px;
    margin-top:25px;
  }
  .but:hover{
    cursor: pointer;
    background-color: #03436A;
    transition: 0.7s;
    transform: scale(1.5, 1.5);
  }
  .for_radio{
font-size:12pt
  }
 tr:hover{
   background-color: #37DD6F;
   cursor:pointer;
   
 }
 .st1{
   background-color:#FF9A40
 }
 
 .sim{
   margin-top: 55px;
   margin-left:20px;
 }
 .marg{
   margin-left:20px;
 }



 .bt_fl:hover{
   background-color:#35759b;
   cursor:pointer;
 }
 .clFl{
   width: 70px;
   height: 20px; 
   margin:10px;
 }
 .message{
   border-color:#FF8C00;
   background-color: #FFA940;
 }

 .bt_fl{
  background-color: #245A7A;
  width: 97%;
  height: 40px;
  margin-left:20px;
  margin-right: 20px;
}